html {
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    font-size: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: bebas-neue-pro, sans-serif;
}

.container-fluid {
    width: 100vw;
    height: 100%;
}

.nav {
    background-color: #000027;
    height: 100vh;
    color: #ebebff;
}

#logo {
    width: 85%;
    position: absolute;
    left: 50%;
    transform: translate(-50%,0);
}

.nav-contents {
    position: absolute;
    bottom: 30px;
}

.nav-contents li {
    list-style: none;
    font-size: 40px;
}

.nav-contents li a {
    color: #ebebff;
    opacity: 0.5;
}

.nav-contents li a:hover {
    opacity: 1;
    text-decoration: none;
}

.hide {
    display: none;
}

.pressed {
    opacity: 0.5;
}

.corona-update {
    text-align: center;
    padding: 30px;
}

.covid-header h2 {
    font-size: 100px;
    color: #00004e;
}

.covid-header p {
    font-size: 25px;
}

.global, .countries {
    text-align: justify;
    padding-top: 30px;
}

.global h3, .countries h3 {
    color: #4545ba;
    font-size: 60px;
}

.data {
    padding-top: 25px;
    font-size: 20px;;
}

.countries input {
    background-color: #d8d8ff;
    border-radius: 2px;
}

.toggle-global, .toggle-country {
    color: #6262ff;
}

.toggle-global:hover, .toggle-country:hover {
    color: #2727ff;
    opacity: 1;
    text-decoration: none;
}

#countries-list, .search {
    width: 250px;
}

#countries-list {
    padding: 0;
    list-style: none;
    background-color: #DCDCDC;
}

#countries-list li {
    width: 100%;
    text-decoration: none;
    color: black;
    cursor: pointer;
}

#countries-list li:hover {
    background-color: #A9A9A9;
}