html {
    box-sizing: border-box;
}

body {
    width: 100vw;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: bebas-neue-pro, sans-serif;
}

.container-fluid {
    width: 100vw;
    height: 100%;
}

.nav {
    background-color: #000027;
    color: #ebebff;
    min-height: 100vh;
    width: 100%;
    padding: 0;
}

.clicked {
    opacity: 1 !important;
}

#logo {
    width: 70%;
    position: absolute;
    left: 50%;
    margin-top: 30px;
    transform: translate(-50%,0);
}

.nav-container {
    position: fixed;
    height: 100vh;
    width: inherit;
    max-width: inherit;
}

.nav-contents {
    position: relative;
    top: 90%;
    bottom: 30px;
}

.nav-contents li {
    list-style: none;
    font-size: 20px;
}

.nav-contents li a {
    color: #ebebff;
    opacity: 0.5;
}

.nav-contents li a:hover {
    opacity: 1;
    text-decoration: none;
}

.hide {
    display: none;
}

.pressed {
    opacity: 0.5;
}


.covid-header h2 {
    font-size: 70px;
    border-bottom: 10px solid #00004e;
    color: #00004e;
}

.covid-header p {
    font-size: 25px;
}

.covid-update-data {
    padding-top: 70px;
}

.global, .countries {
    text-align: justify;
    padding-bottom: 30px;
}

.global h3, .countries h3 {
    color: #4545ba;
    font-size: 60px;
}

.data {
    padding-top: 25px;
    font-size: 20px;;
}

.countries input {
    background-color: #d8d8ff;
    border-radius: 2px;
}

.toggle-global, .toggle-country {
    color: #6262ff;
    font-size: 25px;
    padding-right: 10px;
}

.toggle-global:hover, .toggle-country:hover {
    color: #2727ff;
    opacity: 1;
    text-decoration: none;
}

.country-search {
    max-width: 80%;
}

#countries-list, .search {
    width: 100%;
}

#countries-list {
    padding: 0;
    list-style: none;
    background-color: #DCDCDC;
}

#countries-list li {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

#countries-list li:hover {
    background-color: #A9A9A9;
}

.content {
    padding: 40px;
}

.vaccine-header h1 {
    font-size: 100px;
    border-bottom: 10px solid #000027;
}

.featured, .latest {
    margin-top: 50px;
}

.featured h2 {
    font-size: 40px;
    margin-bottom: 40px;
}

.middle-article {
    border-right: 3px solid #000027;
    border-left: 3px solid #000027;
}

.article-hover {
    position: relative;
}

.article-preview {
    position: absolute;
    width: 100%;
    height: 0;
    bottom: 0;
    font-size: 20px;
    color: #ebebff;
    overflow: hidden;
    background-color: #00004e;
    opacity: 0.85;
    transition: .5s ease;
}

.article-header {
    min-height: 100px;
}

.hover-text {
    position: absolute;
    width: 100%;
    padding: 20px;
    left: 50%;
    transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
}

.hover-text a {
    color: #ebebff;
    font-weight: 600;
}

.article-hover:hover .article-preview {
    height: 100%;
}
 
.featured-img {
    width: 100%;
}